<h1>Your Text Analysis</h1>

<% num = @analyzed_text.count_of_words %>

<% total = @analyzed_text.most_used_letter.values.first %>
<% capital = @analyzed_text.most_used_letter.keys.first %>

<h2>Number of Words: <%= num.to_s %> </h2>

<h2>Vowels: <%=@analyzed_text.count_of_vowels %> </h2>

<h2>Consonants: <%=@analyzed_text.count_of_consonants %> </h2>

<h2>Most Common Letter: <%=capital.capitalize %>, used <%= total.to_s %> times</h2>
